@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-blue: #467ff7;
    --color-4: #f7d346;
    --color-5: #f76046; 
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
/* Reset ↑ */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 16px 32px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

li a {
    margin: 0 10px;
    color: var(--color-black);
    padding: 8px 16px;
}

.logo {
    height: 75px;
}

/* Header ↑ */